# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.FluentExtensions.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Douglas\RiderProjects\FluentExtensions\.idea\.idea.FluentExtensions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
