# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.FluentExtensions.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Douglas\RiderProjects\DA.Extensions\.idea\.idea.FluentExtensions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
